name: parser


x-backend-defaults: &backend-defaults
  build:
    context: .
    dockerfile: ./.docker/backend/Dockerfile
  env_file:
    - ./.env
  volumes:
    - django-static:/app/static
  depends_on:
    db:
      condition: service_healthy
    redis:
      condition: service_healthy
  restart: unless-stopped


services:
  backend:
    <<: *backend-defaults
    expose:
      - 8000
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/healthcheck/ || exit 1"]
      interval: 30s
      retries: 5
      start_period: 5s
      timeout: 3s
    command: bash scripts/entrypoint.sh
    restart: unless-stopped

  celery_default:
    <<: *backend-defaults
    command: celery -A config worker -Q default --concurrency=10 -n default_worker@%h -l info
    depends_on:
      redis:
        condition: service_healthy

  celery_vavada:
    <<: *backend-defaults
    command: celery -A config worker -Q vavada_queue --concurrency=3 -n vavada_worker@%h -l info
    depends_on:
      redis:
        condition: service_healthy

  celery-beat:
    <<: *backend-defaults
    command: celery -A config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:8
    env_file:
      - ./.env
    expose:
      - 6379
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 3s
      retries: 5
      timeout: 3s
    restart: unless-stopped

  flower:
    <<: *backend-defaults
    command: celery -A config flower --address=0.0.0.0 --port=5555 --broker=redis://:${REDIS_PASSWORD}@redis:6379/0
    ports:
      - 5555:5555
    depends_on:
      - redis

  db:
    image: postgres:17.6
    environment:
      POSTGRES_DB: ${DB_TECH_NAME}
      POSTGRES_USER: ${DB_TECH_USER}
      POSTGRES_PASSWORD: ${DB_TECH_PASSWORD}
    expose:
      - 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_TECH_USER} -d ${DB_TECH_NAME}"]
      interval: 5s
      retries: 5
      timeout: 5s
    restart: unless-stopped


volumes:
  redis-data:
  django-static:
  postgres-data: